# contains borg repo variables
# BORG_REPO is the path to your borg repository, local or remote
# below is an example Hetnzer storage box path
export BORG_REPO=ssh://uxxxxxx@uxxxxxx.your-storagebox.de:23/./backups/$(hostname -s)

# one of BORG_PASSPHRASE or BORG_PASSCOMMAND should be defined
# see the borg docs

# example PASSPHRASE from borg docs
# export BORG_PASSPHRASE='XYZl0ngandsecurepa_55_phrasea&&123'

# example PASSCOMMAND for repo passphrase stored in mac keychain
# export BORG_PASSCOMMAND="security find-generic-password -a $USER -s borg-$(hostname -s)-passphrase -w"
